.mainNewList {
  position: relative;

  .deleteIcon{
    color: red;
    cursor: pointer;
  }

  &.blur {
    &::before {
      content: "";
      position: fixed; // Covers the entire viewport
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(
        255,
        255,
        255,
        0.411
      ); // Semi-transparent white background
      backdrop-filter: blur(2px);
      z-index: 1;
      pointer-events: none;
    }
  }

  .newList {

      .bottom {
        padding: 20px;

        h1 {
        }

        form {
          .addlistItem {
            margin: 10px 0px;
            label {
              margin-right: 10px;
            }
          }

          .formBtn {
            button {
              background-color: aqua;
              border: none;
              padding: 10px;
              font-size: 15px;
              font-weight: bold;
              color: white;
              cursor: pointer;

              &:first-child {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  .AddMovies {
    position: fixed; /* Use fixed positioning to keep it in view */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Adjust the position to truly center the element */
    width: 55%;
    background-color: aquamarine;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
    padding: 20px; /* Optional: Add padding inside the box */
    z-index: 1000; /* Ensure it's on top of other content */
    border-radius: 8px; /* Optional: Add rounded corners */

    .AddMoviesBtn {
      margin-top: 5px;
      display: flex;
      flex-direction: row-reverse;
      button {
        background-color: red;
        border: none;
        font-size: 15px;
        padding: 5px;
        font-weight: bold;
        color: white;
        cursor: pointer;

        &:first-child {
          background-color: green;
          margin-left: 10px;
        }
      }
    }
}
